Repository djlauk/ts-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jsonlint --in-place

.lintstagedrc.json:

{
  "*.{ts,html,md}": ["prettier --write", "git add"],
  "*.ts": ["eslint --fix", "git add"],
  ".*{rc,.json}": ["jsonlint  --in-place", "git add"]
}

docs: add details about the routing split
  README.md
Due: prettier --write

docs: add details how to add another view
  README.md
Due: prettier --write

feat: add polyfills
  public/index.html
Due: prettier --write

docs: add details about storage.ts
  README.md
Due: prettier --write

chore: add hygen generators for ducks and views
  _templates/.editorconfig
  _templates/duck/create/_store-index.ejs.t
  _templates/duck/create/_store-reducer1.ejs.t
  _templates/duck/create/_store-reducer2.ejs.t
  _templates/duck/create/_store-reducer3.ejs.t
  _templates/duck/create/_store-reselect1.ejs.t
  _templates/duck/create/_store-reselect2.ejs.t
  _templates/duck/create/_store-sagas1.ejs.t
  _templates/duck/create/_store-sagas2.ejs.t
  _templates/duck/create/actions.ejs.t
  _templates/duck/create/index.ejs.t
  _templates/duck/create/index.js
  _templates/duck/create/model.ejs.t
  _templates/duck/create/reducer.ejs.t
  _templates/duck/create/sagas.ejs.t
  _templates/duck/create/selectors.ejs.t
  _templates/duck/help/index.ejs.t
  _templates/view/create/_ui-index.ejs.t
  _templates/view/create/index.js
  _templates/view/create/view.ejs.t
  _templates/view/help/index.ejs.t
  package-lock.json
  package.json
  src/store/index.ts
  src/store/reducer.ts
  src/store/reselect.ts
  src/store/sagas.ts
  src/ui/index.ts
Due: prettier --write, eslint --fix

test: add testing with jest
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/store/users/actions.spec.ts
  src/store/users/actions.ts
Due: prettier --write, eslint --fix, jsonlint --in-place

test: add coverage reports and switch from jest to mocha and chai
  .eslintrc.json
  .gitignore
  .mocharc.yaml
  .nycrc.yaml
  jest.config.js
  package-lock.json
  package.json
  src/store/users/actions.spec.ts
Due: prettier --write, eslint --fix, jsonlint --in-place

build(deps): update dependencies
  package-lock.json
  package.json
Due: none

build(deps): add npm-check-updates
  package-lock.json
  package.json
Due: none

build(deps): update dependencies
  package-lock.json
  package.json
  rollup.config.js
Due: none

build(deps): npm audit fix
  package-lock.json
Due: none

build(lintstaged): just lint, don't modify
  .lintstagedrc.json
Due: jsonlint --in-place

build(husky): migrate to husky 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
Due: jsonlint --in-place

docs: mark project as archived
  README.md
Due: prettier --write
